{{#each this}}
<div class='country-list'>
    <li class="country-list_wrap">
        <img src='{{flag}}' class="country-list_image" alt='{{flag}}' width='20px' />
        <p class='country-list_item'>{{name}}</p>
    </li>
</div>
{{/each}}